td {
    border: 1px solid;
    padding: 30px;
    
}

.table-container {
 max-width: 600px;
 margin:20px auto;
}

.title {
    text-align: center;
    padding-bottom: 50px;
    font-size: 40px;
    text-transform: uppercase;
}