body{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
td {
    border: 1px solid;
    padding: 30px;
    cursor: pointer;
}

.table-container {
 max-width: 600px;
 margin:20px auto;
}

.title {
    text-align: center;
    padding-bottom: 50px;
    font-size: 40px;
    text-transform: uppercase;
}

.card {
    text-align: center;
    padding: 20px;
    background: lightgreen;
    border-radius: 10px;
    max-width: 600px;
    min-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    z-index: 100;
}
.bg-blur{
    background: #0000006e;
    height: 100vh;
}

.form-inputs {
    max-width: 600px;
    margin: 40px auto;
    font-size: 30px;
    text-align: center;
}

.content {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100vw;
}

input {
    padding: 13px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}

.input-btn, .restart-btn{
    font-size: 15px;
    cursor: pointer;
    border: 1px solid royalblue;
    transition: all 1s;
}

input.input-field {
    border-bottom: .5px solid lightgrey;
}
.input-btn:hover, .restart-btn:hover {
    background: linear-gradient(45deg, hsla(230,84%,53%,1), #fd5f60);
    color: white;
}



.name-form{
    display: flex;
    flex-direction: column;
}

.d-none{
    display: none;
}

.d-block{
    display: block;
}