body {
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

td {
  border: 1px solid;
  padding: 30px;
  cursor: pointer;
}

.playerlist {
  display: flex;
  justify-content: space-evenly;
}

.players {
  max-width: 600px;
  margin: auto;
  text-align: center;
  padding: 20px;
}

.errors {
  text-align: center;
  color: red;
}

li {
  list-style: none;
  padding: 20px;
  font-size: 20px;
  border: 1px solid royalblue;
  border-radius: 5px;
}

.table-container {
  max-width: 600px;
  margin: 20px auto;
}

.title {
  text-align: center;
  padding-bottom: 50px;
  font-size: 40px;
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.card {
  text-align: center;
  padding: 20px;
  background: lightgreen;
  border-radius: 10px;
  max-width: 600px;
  min-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  z-index: 100;
}

.bg-blur {
  background: #0000006e;
  height: 100vh;
}

.form-inputs {
  max-width: 600px;
  margin: 40px auto;
  font-size: 30px;
  text-align: center;
}

.content {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100vw;
}

input {
  padding: 13px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}

.btn {
  cursor: pointer;
  padding: 20px;
  border-radius: 5px;
  transition: all 1s;
}

.btn-default {
  border: 1px solid royalblue;
}

.input-btn,
.restart-btn {
  font-size: 15px;
  cursor: pointer;
  border: 1px solid royalblue;
  transition: all 1s;
}

input.input-field {
  border-bottom: 0.5px solid lightgrey;
  margin-bottom: 40px;
}

.input-btn:hover,
.restart-btn:hover,
.btn-default:hover {
  background: linear-gradient(45deg, hsla(230, 84%, 53%, 1), #fd5f60);
  color: white;
}

.name-form {
  display: flex;
  flex-direction: column;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}
